.container {
    position: relative;
    text-align: center;
  

    }
.pos-center {
    text-align: center;
         }

    img {
        border-radius: 9px 9px 9px 9px;
     }

    
    .pos-no {
            position: relative;
            bottom: 95px;
            left: -40px;
            color: white;
    }
    .pos-expiry{
            position: relative;
            bottom: 80px;
            left: 20px;
            color: white;
    }
    .pos-name{
            position: relative;
            bottom: 70px;
            left: -90px;
            color: white;
    }
    .pos-cardtype{
            position: relative;
            bottom: 85px;
            left: 90px;
            color: silver;
    }
    .pos-bankname{
            position: relative;
            bottom: 250px;
            left: 90px;
            color: silver;
    }
    
    .home{
        width: 10%;
        height: 5em;
        float: left;
    }
    #logo{
        width: 100%;
        height: 5em;
        float:right;
        

    }

    html{
        background-color: rgb(255, 255, 255);
        margin: 10px;
    }


/*********************************************************************************/
  /* Header                                                                        */
  /*********************************************************************************/
    
  #header-wrapper
  {	
  
    padding: 0.5em 0em;
    background: rgb(61, 74, 116);
  }
  
  #header
  {
    position: fixed;
    position: relative;
    height: 91px;
  }
  

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{	
	width:30%;
	position:absolute;
	
	left: 0 em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	color: #39599F;
}


#logo1
{	
	width:30%;
	position:absolute;
    top: 7em;
    text-align: center;
	left: 24.5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	color: #39599F;
}

.heading{
	
	width:30%;
	position:absolute;
 
    text-align: center;
	left: 21em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.4em;
	color: #39599F;

}

  /*********************************************************************************/
  /* Menu                                                                          */
  /*********************************************************************************/
  
  #menu
  {
    position:absolute;
    right: 0;
    top: 0em;
  }
  
  #menu ul
  {
    display: inline-block;
  }
  
  #menu li
  {
    display: block;
    float: left;
    text-align: center;
    line-height: 60px;
  }
  
  #menu li a, #menu li span
  {
    display: inline-block;
    margin-left: 1px;
    padding: 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: white;
  }
  
  #menu li:hover a
  {
    background: rgb(123, 135, 173);
    color: #FFF !important;
  }
  
  
  #menu li.current_page_item a
  {
    background: white;
    color: black !important;
  }

  .table{
      top:45em;
      margin:auto;
      padding-top: 85px;
    padding-left: 280px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  button{
    
    background-color: rgb(61, 74, 116);
    border: none;
    color: white;
    padding: 8px 8px;
    margin-right: auto;
    margin-left: auto;
    align-self:center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 5px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    
    button:hover{
      background-color: rgb(123, 135, 173);
    }

    