
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #383838;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #2C383B;
}

a:hover
{
	text-decoration: none;
}

.container
{
	
	margin: 0px auto;
	width: 1200px;
}
.contain
{
	
	margin: 0px auto;
	width: 1120px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}



	#page-wrapper
	{
		overflow: hidden;
		padding: 0em 0em 5em;
		background: #31516A;
		color: white;
	}

	

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2,.tbox3
	{
		width: 320px;
	}
	
	.tbox1
	{
		float: left;
		margin-right:40px;
		margin-left:40px;
		
	}
	.tbox3
	{
		float: left;
		margin-right:0px;
		margin-left:0px;
		
	}

	.tbox2
	{
		float: right;
		margin-right:40px;
		
	}
	

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.tboxa,
	.tboxb,.tboxc
	{
		width: 340px;
	}
	
	.tboxa
	{
		float: left;
		margin-right:40px;
		margin-left:40px;
		
	}
	.tboxc
	{	
		
		float: left;
		margin-right:0px;
		margin-left:0px;
		
	}

	.tboxb
	{
		float: right;
		margin-right:40px;
		
	}
	
		
/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style1 li
{
	overflow: hidden;
	display: block;
	padding: 2.80em 0em;
	border-top: 1px solid #D1CFCE;
}

ul.style1 li:first-child
{
	padding-top: 0;
	border-top: none;
}

ul.style1 .image-left
{
	margin-bottom: 0;
}

ul.style1 h3
{
	padding: 1.2em 0em 1em 0em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	color: #454445;
}

ul.style1 a
{
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover
{
	text-decoration: underline;
	color: #525252;
}

ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
	font-family: 0.80em;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #DB3256;
}

ul.style2 a
{
	display: inline-block;
	margin-left: 1em;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style2 .icon
{
	color: #FFF;
}

ul.style3
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style3 li
{
	border-top: solid 1px rgba(255,255,255,.2);
	padding: 1em 0 1em 0;
	font-family: 0.80em;
}

ul.style3 li:before
{
	display: inline-block;
	padding: 4px;
	background: #FFF;
}

ul.style3 a
{
	display: inline-block;
	margin-left: 1em;
	font-size: 1em !important;
	color: #FFF;
}

ul.style3 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style3 .icon
{
	color: #DB3256;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.30em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #FFFFFF;
}

ul.contact li a.icon-twitter:before
{
	background: #2DAAE4;
}

ul.contact li a.icon-facebook:before
{
	background: #39599F;
}

ul.contact li a.icon-dribbble:before
{
	background: #C4376B;
}

ul.contact li a.icon-tumblr:before
{
	background: #31516A;
}

ul.contact li a.icon-rss:before
{
	background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #8B786A;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
}

.button:hover
{
	background:#383838;	
}

.button:active
{
}

.button-big
{
	padding: 1.6em 4em;
	font-size: 1.4em;
	font-weight: 900;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{	

	padding: 0.5em 0em;
	background: #FFF;
}

#header
{
	width: 90%;
	position: fixed;
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{	
	width:30%;
	position:absolute;
	top: 1.9em;
	left: 0 em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	color: #39599F;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	width: 45%;
	position:absolute;
	right: 0;
	top: 1em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 60px;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	outline: 0;
	color: #212121;
}

#menu li:hover a
{
	background: rgb(123, 135, 173);
	color: #FFF !important;
}


#menu li.current_page_item a
{
	background: rgb(61, 74, 116);
	color: #FFF !important;
}



/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 6em 0em;
	border-bottom: 2px solid #E3E3E3;
	text-align: center;
}

#page .button
{
	margin-top: 2em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
	padding: 0em 7em;
}




/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper
{
	overflow: hidden;
	padding: 0em 0em;
	background: #383838;
	text-align: left;
	margin:0px;
	width:100%;
	height:400px;
}

#featured
{
	overflow: hidden;
}

#featured .major
{
	overflow: hidden;
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #E8E8E8;
}

#featured .major h2
{
	font-size: 3em;
}

#featured .major .byline
{
	font-size: 1.3em;
}

#featured .title
{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid rgba(255,255,255,0.8);
}

#featured .title h2
{
	font-size: 2.3em;
	word-spacing:0.1em;
	letter-spacing:0.1em;
	
}

#featured h2
{
	text-align: left;
	color: #FFF;
}



.column1
{
	width: 550px;
	float: left;
	margin-left: -140px;
	margin-right: 0pX;
	padding-right:0px;
}

.column2
{
	width: 600px;
	float: right;
	margin-left: 0px;
}

img.az
{
	width:650px;
	height:400px;
	margin-left:20px;

}


#header-featured
	{
		height: 30em;
		background-image: url(front.jpg);
		background-position: center;
		background-size: cover;
}




/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
	border-top: 20px solid rgba(255,255,255);
	overflow: hidden;
	padding: 5em 0em;
	background-color: #afe1e7;
	text-align: center;
	color: black;
}


	
#footer .fbox1,
#footer .fbox2,
#footer .fbox3
{
	float: left;
	width: 320px;
	padding: 0px 40px 0px 40px;
}

#footer .icon
{
	display: block;
	margin-bottom: 1em;
	font-size: 3.5em;
}


#footer .title span
{
	color: rgb(255,255,255);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
	overflow: hidden;
	padding: 5em 0em;
	background-color: #31516A;
	border-top: 20px solid rgba(255,255,255);
	text-align: center;
}

#copyright p
{
	letter-spacing: 1px;
	font-size: 1em;
	color: rgba(255,255,255);
}

#copyright a
{
	text-decoration: none;
	color: #fff;
}

#extra
{
	overflow: hidden;
	margin: 0em auto 0em auto;
	padding: 5em 0em 5em 0em;
	text-align: center;
}

#extra h2
{
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 2.3em;
	word-spacing:0.1em;
	letter-spacing:0.1em;
	color: #555555;
	text-transform: uppercase;
}



#extra span
{
	display: block;
	padding-top: 0.20em;
	margin-bottom: 3em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #A2A2A2;
}


#extra .button
{
	margin-top: 2em;
}

#extra p
{	text-align: left;
	
}


#extra1
{
	overflow: hidden;
	margin: 0em auto 0em auto;
	padding: 5em 0em 5em 0em;
	text-align: center;
}

#extra1 h2
{	text-align: center;
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 2.3em;
	word-spacing:0.1em;
	letter-spacing:0.1em;
	color: #555555;
	text-transform: uppercase;
}
#extra1 p
{	text-align: left;
	
}
#extra1 .button
{
	text-align: center;
	margin-top: 2em;
}


/*********************************************************************************/
/* extra2                                                                      */
/*********************************************************************************/

	#extra2
	{
		overflow: hidden;
		text-align: center;
	}
	
	#extra2 .title h2
	{	
		font-weight:400;
		margin-bottom: 2em;
		border-bottom: 1px solid rgba(0,0,0,0.08);
		text-align: center;
		font-size: 2.6em;
		color: white;
		
	}

	#extra2 h2
	{
		display: block;
		padding-top: 0.20em;
		margin-bottom: 1.6em;
		text-transform: uppercase;
		font-size: 1.2em;
		color: white;
	}

	#extra2 img
	{
		opacity:0.9;
		height:260px;
		width:300px;
		margin-bottom: 2em;
	}
	#extra2 img:hover
	{
		opacity:1;
		
	}
	
	#extra2 .padding-bottom
	{
		margin-bottom: 2em;
	}
	#extra2 p
	{	text-align: center;
	
	}


.contain img:hover {
	
	z-index:999;
	
	opacity: 1.0 ;
	transition: transform .6s ease;
	transform: scale(1.25);

}

/*********************************************************************************/
/* extra3                                                                      */
/*********************************************************************************/

	#extra3
	{
		overflow: hidden;
		text-align: center;
	}
	
	#extra3 .title h2
	{	
		font-weight:400;
		margin-bottom: 2em;
		word-spacing:0em;
		letter-spacing:0.05em;
		text-align: center;
		font-size: 2.6em;
		color: #555555;
		
	}

	#extra3 h2
	{
		display: block;
		padding-top: 0.20em;
		margin-bottom: 1.6em;
		text-transform: uppercase;
		font-size: 1.2em;
		color: #A2A2A2;
	}

	#extra3 img
	{
		height:675px;
		width:314px;
		margin-bottom: 2em;
	}
	
	#extra3 .padding-bottom
	{
		margin-bottom: 2em;
	}
	#extra3 p
	{	text-align: center;
	
	}

	/*login dropdown options*/
	.dropbtn {
		background-color: rgb(61, 74, 116);
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		
	  }
	  
	  .dropdown {
		position: relative;
		display: inline-block;
	  }
	  
	  .dropdown-content {
		display: none;
		position: absolute;
		background-color: rgb(123, 135, 173);
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	  
	  .dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	  }
	  
	  .dropdown-content a:hover {background-color: #ddd;}
	  
	  .dropdown:hover .dropdown-content {display: block;}
	  
	  .dropdown:hover .dropbtn {background-color: rgb(61, 74, 116);}

	 #user{
		 float: right;
		 top:2em;
		 width:7%;
	 }
	 #user ul
	{
		display: inline-block;
	}

	#user li
	{
		display: block;
		float: left;
		text-align: center;
		line-height: 60px;
	}

	#user li a, #user li span
	{
	display: inline-block;
	margin-left: 1px;
	padding: 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	outline: 0;
	color: #212121;
	}

#user li:hover a
{
	background: rgb(123, 135, 173);
	color: #FFF !important;
}