


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:white;
  }

img{
    width: 100%;
    height: 40em;
}

.outer{
    position:absolute;
    top: 20%;
    left: 45%;
    width:32em;
    height:42em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid rgb(168, 163, 163);
    background-color:white;
    padding: 0.5% 2%;
    border-radius: 1%;
    
 
}
.extra{
  padding: 1%;
  width: 100%;
  font-weight: bold;

}
input{
    width: 40%;
  
}

input[type=radio]{
    width:10%;
}
input:focus{
    border: 1px;
    outline-color: rgba(66, 218, 227 );
    box-shadow: 0px 0px 2px 2px  rgba(66, 218, 227 );


}

textarea:focus{
    border: 1px;
    outline-color: rgba(66, 218, 227 );
    box-shadow: 0px 0px 2px 2px  rgba(38, 224, 210 );
}
button{
    width: 100%;
    padding: 2.5%;
    background-color: rgb(38, 224, 210 );
    border: 1px rgb(56, 54, 54), 0, 0 solid;
    border-radius:2%;
    padding: 10px 22px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
      
}
button:hover{
    background-color: rgb(17, 181, 191  );
}
.extra label i{
    font-style: normal;
    color: red;
    position: relative;
    top: -2px;
    left: 1px;
}
